@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.greetingsCol {
    font-family: 'Poppins', sans-serif;
    color: #263238;
    margin-top: 10%;
    margin-left: 5%;
    padding-right: 5%;
}

.greetings {
    font-size: 4em;
    margin-bottom: 5%;
}

.greetingsDescription {
    font-size: 1.5em;
    text-align: justify;
}

.greetingsImage img {
    width: 75%;
    margin-top: 15%;
}

.contactButton, .contactButton:hover  {
    background-color: #dd4e00;
    border-color: transparent;
    margin-left: 45%;
    margin-top: 5%;
}